.container{
    width:20rem;
    border:1px solid black;
    display:flex;
    flex-direction:column;
    padding:1rem;
    gap:2rem;
  }
  
  .heading{
    font-size:20px;
    font-weight:bold;
  }
  
  .msg{
    color:grey;
  }
  
  .footer{
    display:flex;
    justify-content:flex-end;
    gap:1rem;
  }
  
  .footer .btn{
    border:none;
    background-color:transparent;
    font-weight:bold;
    cursor:pointer;
  }

  .btn-c{
      color:red;
  }

  .btn-a{
      color:darkblue;
  }