<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Installation</title>
    <link rel="stylesheet" href="../styling/utilities.css">
    <link rel="stylesheet" href="../styling/main.css">
</head>
<body>
    <header class="header flex flex-y-ctr">
        <a href="../index.html" class="brand-link flex flex-y-center no-style-a">
            <span class="brand-logo"></span>
            <span class="brand-name">EscapeUI</span>
        </a>

        <div class="profile-logos flex flex-y-center">
            <a href="https://github.com/shubhambishnoi" target="_blank"><img src="../abstract/logos/github.svg" alt="github" width="20"></a>
            <a href="https://twitter.com/shubham2220" target="_blank"><img src="../abstract/logos/twitter.svg" alt="twitter" width="20"></a>
            <a href="https://www.linkedin.com/in/bishnoishubham/" target="_blank"><img src="../abstract/logos/linkedin.svg" alt="linkedin" width="20"></a>
        </div>
    </header>

    <div class="main-container flex">
        <nav class="sidebar-main flex">
            <h3>Manual</h3>
            <a href="./installation.html" class="install-link no-style-a">Installation</a>
            <h3>Components</h3>
            <ul class="component-sidelist no-style-list">
                <li class="component-link"><a class="no-style-a" href="components/avatar.html">Avatar</a></li>
                <li class="component-link"><a class="no-style-a">Alert</a></li>
                <li class="component-link"><a class="no-style-a">Badge</a></li>
                <li class="component-link"><a class="no-style-a">Button</a></li>
                <li class="component-link"><a class="no-style-a">Card</a></li>
                <li class="component-link"><a class="no-style-a">Image</a></li>
                <li class="component-link"><a class="no-style-a">Input</a></li>
                <li class="component-link"><a class="no-style-a">Snackbar</a></li>
                <li class="component-link"><a class="no-style-a">Header</a></li>
                <li class="component-link"><a class="no-style-a">Dialogs</a></li>
            </ul>
        </nav>

        <div class="main-content flex">
            <h3>Installation Guide</h3>
            <p>Hey! Glad to see you here !!!</p>
            <p>Let's get started ...</p><br>
            <p>In order to start using Escape UI components in your projects you can either import the below</p>
            <p>given url in your css file or link it to your html file.</p>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C--------%2520put%2520this%2520in%2520your%2520html%2520-----------------%253E%250A%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522https%253A%252F%252Fescapeui.netlify.app%252Fstyling%252Fcomponents.css%2522%253E%250A%250A%253C------------%2520put%2520this%2520in%2520your%2520css%2520---------------%253E%250A%2540import%2520url%28%2522https%253A%252F%252Fescapeui.netlify.app%252Fstyling%252Fcomponents.css%2522%29%253B"
                style="width: 842px; height: 279px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </div>
</body>
</html>