<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Installation</title>
    <link rel="stylesheet" href="../styling/utilities.css">
    <link rel="stylesheet" href="../styling/main.css">
</head>
<body>
    <header class="header flex flex-y-ctr">
        <a href="../index.html" class="brand-link flex flex-y-center no-style-a">
            <span class="brand-logo"></span>
            <span class="brand-name">EscapeUI</span>
        </a>

        <div class="profile-logos flex flex-y-center">
            <a href="https://github.com/shubhambishnoi" target="_blank"><img src="../abstract/logos/github.svg" alt="github" width="20"></a>
            <a href="https://twitter.com/shubham2220" target="_blank"><img src="../abstract/logos/twitter.svg" alt="twitter" width="20"></a>
            <a href="https://www.linkedin.com/in/bishnoishubham/" target="_blank"><img src="../abstract/logos/linkedin.svg" alt="linkedin" width="20"></a>
        </div>
    </header>

    <div class="main-container flex">
        <nav class="sidebar-main flex">
            <h3>Manual</h3>
            <a href="./installation.html" class="install-link no-style-a">Installation</a>
            <h3>Components</h3>
            <ul class="component-sidelist no-style-list">
                <li class="component-link"><a class="no-style-a" href="components/avatar.html">Avatar</a></li>
                <li class="component-link"><a class="no-style-a" href="components/alert.html">Alert</a></li>
                <li class="component-link"><a class="no-style-a" href="components/badge.html">Badge</a></li>
                <li class="component-link"><a class="no-style-a" href="components/button.html">Button</a></li>
                <li class="component-link"><a class="no-style-a" href="components/card.html">Card</a></li>
                <li class="component-link"><a class="no-style-a" href="components/image.html">Image</a></li>
                <li class="component-link"><a class="no-style-a" href="components/input.html">Input</a></li>
                <li class="component-link"><a class="no-style-a" href="components/snackbar.html">Snackbar</a></li>
                <li class="component-link"><a class="no-style-a" href="components/header.html">Header</a></li>
                <li class="component-link"><a class="no-style-a" href="components/dialog.html">Dialogs</a></li>
            </ul>
        </nav>

        <div class="main-content flex">
            <h3>Installation Guide</h3>
            <p>Hey! Glad to see you here !!!</p>
            <p>Let's get started ...</p><br>
            <p>In order to start using Escape UI components in your projects you can either import the below</p>
            <p>given url in your css file or link it to your html file.</p>
            <iframe
                src="https://carbon.now.sh/embed/vP9R42dyQZO211ZMCvQj"
                style="width: 842px; height: 279px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </div>
</body>
</html>