<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styling/components/avatar.css">
    <link rel="stylesheet" href="../../styling/utilities.css">
    <title>Avatar</title>
</head>
<body>
    <main>
        <h2>Round Avatars</h2>
        <div class="flex flex-y-ctr">
            <figure class="avatar avatar-lg">
                <img src="../../abstract/images/avatar-1.svg" alt="avatar">
            </figure>

            <figure class="avatar avatar-md">
                <img src="../../abstract/images/avatar-1.svg" alt="avatar">
            </figure>

            <figure class="avatar avatar-sm">
                <img src="../../abstract/images/avatar-1.svg" alt="avatar">
            </figure>
        </div>

        <h2>Avatars with status</h2>
        <div class="flex flex-y-ctr">
            <figure class="avatar avatar-lg pos-rel">
                <img src="../../abstract/images/avatar-1.svg" alt="avatar">
                <div class="avatar-status status-online"></div>
            </figure>

            <figure class="avatar avatar-md pos-rel">
                <img src="../../abstract/images/avatar-1.svg" alt="avatar">
                <div class="avatar-status status-offline"></div>
            </figure>

            <figure class="avatar avatar-sm pos-rel">
                <img src="../../abstract/images/avatar-1.svg" alt="avatar">
                <div class="avatar-status status-dnd"></div>
            </figure>
        </div>
    </main>
</body>
</html>