<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styling/components/image.css">
    <link rel="stylesheet" href="../../styling/utilities.css">
    <link rel="stylesheet" href="../../styling/main.css">
    <title>Image</title>
</head>

<body>
    <header class="header flex flex-y-ctr">
        <a href="../../index.html" class="brand-link flex flex-y-center no-style-a">
            <span class="brand-logo"><img src="../../abstract/logos/brand-logo.svg"></span>
            <span class="brand-name">EscapeUI</span>
        </a>

        <div class="profile-logos flex flex-y-center">
            <a href="https://github.com/shubhambishnoi" target="_blank"><img src="../../abstract/logos/github.svg"
                    alt="github" width="20"></a>
            <a href="https://twitter.com/shubham2220" target="_blank"><img src="../../abstract/logos/twitter.svg"
                    alt="twitter" width="20"></a>
            <a href="https://www.linkedin.com/in/bishnoishubham/" target="_blank"><img
                    src="../../abstract/logos/linkedin.svg" alt="linkedin" width="20"></a>
        </div>
    </header>

    <div class="main-container flex">
        <nav class="sidebar-main flex">
            <h3>Manual</h3>
            <a href="../installation.html" class="install-link no-style-a">Installation</a>
            <h3>Components</h3>
            <ul class="component-sidelist no-style-list">
                <li class="component-link"><a class="no-style-a" href="avatar.html">Avatar</a></li>
                <li class="component-link"><a class="no-style-a" href="alert.html">Alert</a></li>
                <li class="component-link"><a class="no-style-a" href="badge.html">Badge</a></li>
                <li class="component-link"><a class="no-style-a" href="button.html">Button</a></li>
                <li class="component-link"><a class="no-style-a" href="card.html">Card</a></li>
                <li class="component-link"><a class="no-style-a" href="image.html">Image</a></li>
                <li class="component-link"><a class="no-style-a" href="input.html">Input</a></li>
                <li class="component-link"><a class="no-style-a" href="modal.html">Modal</a></li>
                <li class="component-link"><a class="no-style-a" href="slider.html">Slider</a></li>
                <li class="component-link"><a class="no-style-a" href="toast.html">Toast</a></li>
                <li class="component-link"><a class="no-style-a" href="navigation.html">Navigation</a></li>
            </ul>
        </nav>

        <main class="main-content flex">
            <h2>Responsive Image</h2><br>
            <img class="res-img" src="https://picsum.photos/500/300" alt="responsive-image">

            <p>This is a responsive image (<span class="txt-primary">res-img</span>).</p>
            <iframe src="https://carbon.now.sh/embed/iERoMRFSHwOTpSZ42q2a"
                style="width: 605px; height: 205px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <br>

            <h2>Round Image</h2><br>
            <img class="round-img" src="https://picsum.photos/200/200" alt="round-image">
            <p>This is a round image (<span class="txt-primary">round-img</span>).</p>
            <iframe src="https://carbon.now.sh/embed/Sq3gCAW3dMsVYM2aH7SN"
                style="width: 580px; height: 205px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </main>
    </div>
</body>

</html>