@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    /* --primary-color:#00B0FF; */
    --primary-color:var(--yellow);
    --secondary-color:#f8f9fa;
    --black:#070808;
    --red:#da7a62;
    --green:#97dd6b;
    --blue:#00B0FF;
    --yellow:#e6de50;
    --dark-red:#e73b10;
    --golden:#f1b83c;
    --dark-green:#224709;
    --green:#5cc416;
    --gray:#52554dfa;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

/******       header component      *****/
.header{
    background-color: var(--primary-color);
    position:fixed;
    top:0;
    width:100%;
    z-index:1;
    height:5rem;
}

.brand-link{
    gap:8px;
    padding:1rem;
}

.brand-name{
    font-size: 1.5rem;
}

.profile-logos{
    margin-left:auto;
    margin-right:2rem;
    gap:1rem;
}
/*********** container ****************/

.main-container{
    margin:6rem 1rem 1rem 1rem;
    align-items: flex-start;
    gap:2rem;
}


/************ sidebar navigation **********/

.sidebar-main{
    flex-direction: column;
    margin-left:1rem;
    width:15rem;
    padding:1rem;
    gap:6px;
    position:fixed;
}

.install-link{
    padding:8px;
}

.component-sidelist{
    padding:4px;
}

.component-link{
    padding:8px;
}

.component-link:hover,.install-link:hover{
    background-color: var(--primary-color);
    width:8rem;
    font-weight: bold;
}

/********** main content*********/

.main-content{
    flex-direction: column;
    flex-grow:1;
    margin-right:5rem;
    padding:1rem;
    gap:1rem;
    margin-left:15rem;
    flex-wrap:wrap;
}

.h2-instl-pg{
    color:var(--primary-color);
}

.txt-primary{
    font-weight: bold;
}

/************* home page container *************/

.home-container{
    margin:10rem ;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.home-big-heading{
    font-size: 5rem;
}

.t-p{
    color:var(--primary-color);
}

.home-doc-btn{
    padding:1rem;
    width: 10rem;
    font-size: 2rem;
    background-color: transparent;
}

.home-doc-btn:hover{
    background-color: var(--primary-color);
    cursor: pointer;
    border:2px solid var(--primary-color);
}

.home-arrow{
    font-size:2rem;
}