.no-style-a{
    text-decoration: none;
    font-size:1rem;
    color:var(--black);
}

.no-style-list{
    list-style: none;
}
.flex{
    display: flex;
}

.flex-y-ctr{
    align-items: center;
}

.flex-x-ctr{
    justify-content: center;
}

.pos-rel{
    position: relative;
}
.w-50{
    width:50rem;
}

